<div class="container-fluid">
  <div class="row">
    <div class="col">
      <strong>ID</strong>
    </div>
    <div class="col">
      <strong>Name</strong>
    </div>
    <div class="col">
      <strong>Amount</strong>
    </div>
    <div class="col">
      <strong>Status Approvement</strong>
    </div>
    <div class="col">
      <strong>Approve</strong>
    </div>
    <div class="col">
      <strong>Analyzers</strong>
    </div>
  </div>
  <app-credit *ngFor="let credit of creditList" [credit]="credit"></app-credit>
</div>
