<div class="row">
    <div class="col">{{ credit.id }}</div>
    <div class="col">{{ credit.client_name }}</div>
    <div class="col">{{ credit.amount }}</div>
    <div class="col">{{ credit.approvement }}</div>
    <div class="col">
        <button [disabled]="credit.approvement" type="button" class="btn btn-success" (click)="approveCredit()">Approve</button>
    </div>
    <div class="col">
        <button *ngIf="!watchAnalyzers" type="button" class="btn btn-info" (click)="getClientAnalyzers()">Watch analyzers</button>
        <button *ngIf="watchAnalyzers" type="button" class="btn btn-info" (click)="dismissAnalyzers()">Dismiss analyzers</button>
    </div>
</div>

<div *ngIf="watchAnalyzers">
    <app-client-analyzers [clientAnalyzers]="clientAnalyzers"></app-client-analyzers>
</div>

